@model DashInvestimentos.Models.Movimentacao

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Movimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Close">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovimentacaoId" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorVenda" class="control-label"></label>
                <input asp-for="ValorVenda" class="form-control" />
                <span asp-validation-for="ValorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMovimentacao" class="control-label"></label>
                <input asp-for="TotalMovimentacao" class="form-control" />
                <span asp-validation-for="TotalMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
