@model DashInvestimentos.Models.Operacao

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Operacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Tipo de Compra</label>
                <select asp-for="Tipo" class="form-control form-control-lg">
                    <option value="Compra">Compra</option>
                    <option value="Venda">Venda</option>
                </select>
                @*<input asp-for="Tipo" class="form-control" />*@
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ativo" class="control-label"> Ativo</label>
                <select asp-for="Ativo" class="form-control form-control-lg">
                    <option value="ITSA4">ITSA4</option>
                </select>
                @*<input asp-for="Ativo" class="form-control" />*@
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"> Data da movimentação </label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorOperacao" class="control-label"> Valor da Operacao</label>
                <input asp-for="ValorOperacao" class="form-control" />
                <span asp-validation-for="ValorOperacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
